html {
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-color: yellowgreen;*/
    background-color: dimgrey;
    font-size: 13px;
    line-height: 20px;
}

.search {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #FF9800;
    text-align: center;
}

.video {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #FF9800;
    text-align: center;
}

.settings {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #FF9800;
    text-align: center;
}

