html {
    font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

input {
  font-size: 110%;
  outline: 0;
}

.video {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #FF9800;
    text-align: center;
}

.settings {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #FF9800;
    text-align: center;
}

@media screen and (min-width: 640px) {
  .search-bar-wrapper {
    min-width: 480px;
    width: 40%;
  }
}

.searchResult {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  padding: 20px;
}

.videoPlayer {
  min-width: 640px;
  min-height: 480px;
  overflow: auto;
  padding: 20px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.geoJsonPicker {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
